/* z-indexes
* 0 all
* 1 table
* 10 modal1
*/

















.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Fica no topo da página */
  z-index: 1; /* Fica acima de outros elementos */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Ativa scroll se necessário */
  
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width: 80%; /* Largura do modal */
  max-width: 500px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  margin-left: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.modal-boxes {
    background-color: rgb(252, 245, 232);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-modal-certs {
    display: flex;
    flex-direction: column;
}

.mmc-title-cont > .close {
    font-size: large;
}

.mmc-title {
    margin: 0;
    font-size: x-large;
}

.main-modal-certs>.mmc-header {
    /*display: flex;*/
}
.main-modal-certs>.mmc-body {
    max-height: 350px;
    display: flex;
    justify-content: space-between;
}
.mmc-body-cert {    
    flex: 1;
    overflow: auto;
    scrollbar-width: thin;
    padding-right: 10px;
}
.mmc-bc-infs {
    margin-bottom: 5px;
    padding-left: 5px;
    border-left: 1px solid #88888888;
}

.mmc-crono-holder {
    border: 1px solid black;
    border-radius: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 15px;
}
.mmc-body-cron {
    height: 100%;
}
.mmc-body-cron-cron {
    padding: 0 2px 0 2px;
    margin: 15px 15px 15px 10px;
    border-right: 5px solid #88888888;
    
    word-break: break-word;
}
.mmc-body-cron-cron.AGND {
    border-right: 1px solid green;
}
.mmc-body-cron-cron.NOTF {
    border-right: 1px solid rgb(255, 187, 0);
}
.mmc-body-cron-cron.REVL {
    border-right: 1px solid blue;
}
.mmc-body-cron-cron.PRBL {
    border-right: 1px solid red;
}
.mmc-body-cron-cron:hover {
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.288);
}

.tiny1 {
    font-size: small;
}
.tiny1.nota {
    margin-left: 1em;
}
.info1 {
    margin-left: 1em;
}
.info1.no_tab {
    margin-left: 0;
}

.modfSomething {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 300px;
}
.ms-header-cont {
}
.ms-h-title {
    font-size: x-large;
}
.ms-body-cont {
    flex: 0 0 80%
}
.ms-b-nota{
    border: 1px solid gray;
    border-radius: 0.4em;
    width: 100%;
    height: 100%;
    
    padding: 10px;

    resize: none;
}
.ms-footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 5px;
    padding: 5px;
}
.ms-f {
    border: 1px solid gray;
}
.ms-f.cancel {

}
.ms-f.confirm {
    
}















table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
}
th, td {
	padding: 5px;
	border: 2px solid sandybrown;
	text-align: left;
	
	overflow: hidden;
	text-overflow: ellipsis;
}
thead>tr>th {
    border-top: 0;
    border-bottom: 0;
}


thead>tr {
	position: sticky;
	top: 0;
	background-color: brown;

    color: wheat;
}
tbody>tr {
	background-color: wheat;
}
tbody>tr:hover {
	background-color: sandybrown;
    color: black;
	cursor: pointer;
	transition: 0.2s;
}
tbody>tr>td {
    color: brown;
}
tbody>tr>td:hover {
    color: black;
}



td,th{
    width: 5%;
}
td.col-fit-content, th.col-fit-content {
    width: fit-content;
}
















#pagecontainer{
    padding: 15px;

	height: 100%;
	width: 100%;

    display: flex;
    flex-direction: column;

    gap: 15px;
}


@media only screen and (max-width: 800px) {
    #pagecontainer{
        font-size: small;
    }
}



.verticaltext {
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: wheat;
    height: 100%;
}

#pesquisacert {
    display: flex;
    flex-direction: row;
    height: 45px;

    gap: 10px;
}

#intervData {
    flex: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    color: brown;

    font-size: x-large;
    gap: 2px;
}

#textCertSearch {
    flex: auto;
    height: 100%;
}

#textCertSearch>input {
    height: 100%;
    width: 100%;

    background-color: wheat;
    border: 1px solid sandybrown;
    color: brown;

    font-size: x-large;
}


#listacertholder {    
    height: calc(100% - 45px - 15px);
    width: 100%;
}
#listacert {
    height: 100%;
    width: 100%;
}

#hnotifcont {
    scrollbar-width: none;
}
.hnotif {
    margin: 1px;
    padding: 6px;
    
    background-color: var(--fundo-secundario);
    border-radius: 10px;
}