:root{
	--padrShadowHover: inset -8px -8px 4px 0px #ff00001c;
	--bordCinza: rgb(223, 223, 223);
	--fundoAzul: #00bbff79;
    --sombraSuave: 3px 3px 6px rgba(0, 0, 0, 0.5);

    --cor-borda-escuro: brown;
    --cor-borda-claro: sandybrown;
    --background-geral: rgba(0, 187, 255, 0.60);
    --fundo-principal: wheat;
    --fundo-principal-claro: rgb(255, 245, 228);
    --fundo-secundario: rgb(200, 240, 255);
    --cor-letra-escuro: brown;
    --cor-letra-claro: wheat;

    --padding-normal: 10px;
}